<!-- Carousel -->
<div class="featuredVideoContainer">
    <div style="float: left; width: 50%;">
        <div style="margin-left: 150px; margin-top: 70px;">
            <img src="../img/cdg/digitutor-logo.png" />
        </div>
        <div class="headedMenu" style="margin-top: 30px; font-size: 26px;">
            Take quick lessons anytime at your own space.
        </div>
    </div>
    <div style="float: left; height: 100%;">
        <div style="font-size: 30px; margin-top: 15px; color: #ffffff; font-family: Segoe UI Light;
            cursor: pointer" redirect="/modules/10/26">
            <img src="../img/cdg/Expert%20Video%20Icon.png" style="height: 40px; width: 40px;" /><span
                style="padding: 5px;">Expert Talks</span></div>
        <div id="videoCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li class="carousel-indicator-position" data-target="#videoCarousel" data-slide-to="0"
                    class="active"></li>
                <li class="carousel-indicator-position" data-target="#videoCarousel" data-slide-to="1">
                </li>
                <li class="carousel-indicator-position" data-target="#videoCarousel" data-slide-to="2">
                </li>
                <li class="carousel-indicator-position" data-target="#videoCarousel" data-slide-to="3">
                </li>
                <li class="carousel-indicator-position" data-target="#videoCarousel" data-slide-to="4">
                </li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="width: 420px; height: 300px; margin-top: 10px;">
                <div class="item active" style="width: 100%; height: 100%;" title="Watch this video">
                    <div style="width: 100%; height: 250px;" redirect="/video/26/0/0">
                        <img src="../img/ExpertTalks/AbdulRazzack.PNG" style="height: 100%; width: 100%;" /></div>
                    <!-- <img class="videoIconOnCarousel" src="../img/cdg/Play.png" redirect="/video/7/0/0" />-->
                    <div class="carousel-caption carosuselcap" style="float: left;">
                        <div style="float: left;" redirect="/video/26/0/0">
                            <span class="glyphicon glyphicon-play-circle carouselVideoIcon"></span>
                        </div>
                        <div style="float: left; padding: 13px;">
                            <span>Abdul Razack on Big Data in Business</span></div>
                    </div>
                </div>
                <div class="item" style="width: 100%; height: 100%;" title="Watch this video">
                    <div style="width: 100%; height: 250px;" redirect="/video/56/0/0">
                        <img src="../img/ExpertTalks/Scott.PNG" style="height: 100%; width: 100%;" /></div>
                    <!-- <img class="videoIconOnCarousel" src="../img/cdg/Play.png" redirect="/video/7/0/0" />-->
                    <div class="carousel-caption carosuselcap">
                        <div style="float: left;" redirect="/video/56/0/0">
                            <span class="glyphicon glyphicon-play-circle carouselVideoIcon"></span>
                        </div>
                        <div style="float: left; padding: 13px;">
                            <span>Scott Guthrie on Microsoft Cloud</span></div>
                    </div>
                </div>
                <div class="item" style="width: 100%; height: 100%;" title="Watch this video">
                    <div style="width: 100%; height: 250px;" redirect="/video/26/2/0">
                        <img src="../img/ExpertTalks/srinivas_PBig.PNG" style="height: 100%; width: 100%;" /></div>
                    <!-- <img class="videoIconOnCarousel" src="../img/cdg/Play.png" redirect="/video/7/0/0" />-->
                    <div class="carousel-caption carosuselcap">
                        <div style="float: left;" redirect="/video/26/2/0">
                            <span class="glyphicon glyphicon-play-circle carouselVideoIcon"></span>
                        </div>
                        <div style="float: left; padding: 13px;">
                            <span>Srinivas P on Artificial Intelligence</span></div>
                    </div>
                </div>
                <div class="item" style="width: 100%; height: 100%;" title="Watch this video">
                    <div style="width: 100%; height: 250px;" redirect="/video/26/3/0">
                        <img src="../img/ExpertTalks/DataVisualization.PNG" style="height: 100%; width: 100%;" /></div>
                    <!-- <img class="videoIconOnCarousel" src="../img/cdg/Play.png" redirect="/video/7/0/0" />-->
                    <div class="carousel-caption carosuselcap">
                        <div style="float: left;" redirect="/video/26/3/0">
                            <span class="glyphicon glyphicon-play-circle carouselVideoIcon"></span>
                        </div>
                        <div style="float: left; padding: 13px;">
                            <span>Niraj Juneja on Data Visualization</span></div>
                    </div>
                </div>
                <div class="item" style="width: 100%; height: 100%;" title="Watch this video">
                    <div style="width: 100%; height: 250px;" redirect="/video/26/4/0">
                        <img src="../img/ExpertTalks/Praveen.png" style="height: 100%; width: 100%;" /></div>
                    <!-- <img class="videoIconOnCarousel" src="../img/cdg/Play.png" redirect="/video/7/0/0" />-->
                    <div class="carousel-caption carosuselcap">
                        <div style="float: left;" redirect="/video/26/4/0">
                            <span class="glyphicon glyphicon-play-circle carouselVideoIcon"></span>
                        </div>
                        <div style="float: left; padding: 13px;">
                            <span>Praveen on HTML5 and JQuery</span></div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <!--  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>-->
        </div>
    </div>
</div>
<div style="width: 100%; height: 440px; background-color: #DDDDDD">
    <div style="width: 88%; margin: 0px auto;" class="verticalAlignMiddle">
        <div class="homeVideoContainer">
            <div class="homeTitles">
                Browse Expert Talks
            </div>
            <div ng-hide="hidePrev" ng-click="previous('video')" class="prevButtonDiv">
                <span title="Hide Playlist" class="glyphicon glyphicon-chevron-left">
            </div>
            <div style="float: left; margin: 0px 50px;">
                <div class="homepageVideoContainer pull-left" ng-repeat="category in categories">
                    <div style="height: 100%;" ng-class="{'categoryColorCodeFirst':$first,'categoryColorCodeLast':$last,'categoryColorCodeEven':$odd}">
                    
                      
                        <div  style="width: 100%; height: 100%">
                           
                            <div style="font-size: 30px; margin-top: 15px; color: #ffffff; font-family: Segoe UI Light;
            cursor: pointer;height:90px;" redirect="/modules/10/26">
            <img src="../img/cdg/Expert%20Video%20Icon.png" style="height: 40px; width: 40px;margin:10px;" /></div>
                            <div class="videoTitle" style="cursor: pointer;text-align:center;">
                                {{category.type}}
                            </div>
                            <!--<div class="media__body">
                                <div class="media__body_div">
                                    {{video.Description}}
                                </div>
                            </div>-->
                            <div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--    <div ng-hide="hideNext" ng-click="next('video')" class="nextButtonDiv">









    <span title="Hide Playlist" class="glyphicon glyphicon-chevron-right"> </div>-->
        </div>
        <div style="width: 100%; height: 20px;">
            <button type="submit" class="btn btn-default" style="float: right; margin-right: 75px;
                color: #000000;" redirect="/search/">
                All Expert Videos</button>
        </div>
    </div>
</div>
<div style="width: 100%; height: 440px; background-color: #ECECEC">
    <div style="width: 88%; margin: 0px auto;" class="verticalAlignMiddle">
        <div class="homeVideoContainer">
            <div class="homeTitles">
                Popular Vidoes
            </div>
            <div ng-hide="hidePrev" ng-click="previous('video')" class="prevButtonDiv">
                <span title="Hide Playlist" class="glyphicon glyphicon-chevron-left">
            </div>
            <div style="float: left; margin: 0px 50px;">
                <div class="homepageVideoContainer pull-left" ng-repeat="video in videoList">
                    <div style="height: 100%;" ng-class="{'colorCode':$first,'colorCodeLast':$last,'colorCodeEven':$odd}"
                        redirect="/video/{{video.CourseId}}/{{video.ModuleSequence-1}}/{{video.VideoSequence-1}}">
                        <!--<img ng-src="../img/cdg/PPT%20video%20icon.png" class="iconOverVideo"/>-->
                        <div class="media" redirect="/video/{{video.CourseId}}/{{video.ModuleSequence-1}}/{{video.VideoSequence-1}}"
                            style="width: 100%; height: 100%">
                            <div class="videoTitle verticalAlignMiddle" style="cursor: pointer;">
                                {{video.Title}}
                            </div>
                            <div class="media__body">
                                <div class="media__body_div">
                                    {{video.Description}}
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%; font-size: 14px; line-height: 20px; padding: 8px">
                        <span style="padding-left: 5px; cursor: pointer;" redirect="/courses/{{video.TrackId}}">
                            <a>{{video.TrackName}}</a></span> <span class="pull-right" title="duration" style="padding-right: 5px;">
                                <span class="iconClock"></span>&nbsp{{video.Duration}} m</span>
                    </div>
                </div>
            </div>
            <!--    <div ng-hide="hideNext" ng-click="next('video')" class="nextButtonDiv">









    <span title="Hide Playlist" class="glyphicon glyphicon-chevron-right"> </div>-->
        </div>
        <div style="width: 100%; height: 20px;">
            <button type="submit" class="btn btn-default" style="float: right; margin-right: 75px;
                color: #000000;" redirect="/search/">
                All Videos</button>
        </div>
    </div>
</div>
<div style="width: 88%; margin: 0px auto;">
    <div class="homeTrackContainer">
        <div class="homeTitles">
            Browse Videos By Tracks
        </div>
        <div style="float: left; margin: 0px 30px;">
            <div class="prevNextDivForTracks" ng-click="previous('track')">
                <span ng-hide="hidePrevForTrack">
                    <img src="../img/cdg/Previous.png" /></span>
            </div>
            <div class="homepageVideoContainer" ng-repeat="track in tracks" ng-click="trackRedirect(track.id)">
                <div style="border-bottom: 1px solid #e78d00">
                    <div class="homepageTrackContainer pull-left" title="Watch this video">
                        <div style="float: left; width: 100%;">
                            <div>
                                <img src="{{track.imageUrl}}" /></div>
                        </div>
                    </div>
                    <div style="font-size: 14px;">
                        {{track.publisher}}
                    </div>
                </div>
                <div>
                    {{track.desc}}
                </div>
            </div>
            <div class="prevNextDivForTracks" ng-click="next('track');">
                <span ng-hide="hideNextForTrack">
                    <img src="../img/cdg/Next.png" /></span></div>
        </div>
    </div>
</div>
